.form-cep {
    width: 100%;
    max-width: 640px;
    margin: 5% auto 8%;
    text-align: center;

    label {
        font-size: 28px;
    }
}

#result {
    margin: 5% auto;
    text-align: center;
}
